.main-wrapper {
  display: flex;
  width: 100vw;
  max-width: 1400px;
  height: 900px;
  justify-content: space-between;
}

#left {
  width: 30%;
  font-family: Catamaran, sans-serif;
  font-weight: bold;
  font-size: 80pt;
  line-height: 84pt;
  color: #20314e;
}

#left .static-header {
  position: absolute;
  top: 150px;
  font-size: 28pt;
  line-height: 28pt;
  z-index: 2;
}
#right {
  width: 66%;
  min-width: 800px;
  justify-self: end;
  object-fit: cover;
}

.typewrite {
  position: absolute;
  top: 200px;
  width: 80%;
  z-index: 2;
  color: #20314e;
}

.vue-typer .custom {
  color: #20314e;
  /* color: white */
}

span.nowrap {
  white-space: nowrap;
}

.agile {
  height: 700px;
}

.slide {
  display: flex;
  align-items: center;
  color: #fff;
  height: 700px;

  justify-content: center;
}

/* From lib author  */
.agile__actions {
  margin-top: 20px;
}

.agile__nav-button {
  background: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
  font-size: 24px;
  transition-duration: 0.3s;
}

.agile__nav-button:hover {
  color: #888;
}

.agile__dot {
  margin: 0 10px;
}

.agile__dot button {
  background-color: #eee;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  width: 10px;
}

.agile__dot--current button,
.agile__dot:hover button {
  background-color: #888;
}

/* TODO definitely need a 650 and under setting for landscape cell-phones */

@media screen and (max-width: 928px) {
  .typewrite {
    font-size: 64pt;
    line-height: 70pt;
  }
}
/* On screens that are 768px or less, set the background color to blue */
@media screen and (max-width: 768px) {
  .typewrite {
    color: white;
    font-size: 28pt;
    line-height: 32pt;
  }
  /* without the extra specificity the text doesn't turn white at small screens */
  .vue-typer .custom.char {
    color: white;
  }

  #left .static-header {
    top: 50px;
    font-size: 18pt;
    line-height: 18pt;
    margin-left: 15px;
    color: white;
  }
  .typewrite {
    margin-left: 15px;
    top: 100px;
  }
  #left {
    width: 0;
  }
  #right {
    width: 100%;
    min-width: 200px;
  }
  .agile {
    height: 300px;
  }
  .slide {
    width: 100%;
    height: 500px;
  }
}

// The Paralax Components inside the slider
// ========================================

.imageContainer {
  background-color: #333;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scaleY(0.9);
  /* border: 2px #333 solid; */
}

@keyframes kenburns {
  0% {
    opacity: 0.6;
  }
  35% {
    opacity: 1;
  }
  /* 75% {
    transform: scale3d(1.2, 1.2, 1.2);
    animation-timing-function: ease-in;
    opacity: 1;
  } */
  100% {
    transform: scale3d(1.4, 1.4, 1.4) translate3d(10%, 6%, 0);
    animation-timing-function: ease-in;
    opacity: 1;
  }
}

/* #imageContainer img.animate {
  animation: kenburns 20s infinite;
} */

/* #theImage.animation {
  animation: kenburns 5s forwards;
} */
